
.createMealPage {

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 2rem;

}

.createdMealsWrapper {

    padding: 1rem 2rem;

}


.title {

    
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.7rem;

}

.createdMealsSection {

    margin-top: 3rem;

}

.createdMealsTitle {

    margin: 1.5rem;
    text-align: center;
}

.clearBtnContainer {

    display: flex;
    justify-content: center;
    margin-top: 1.5rem;

}


@media (min-width: 768px) {

    .createMealPage {

        padding: 3rem 2rem;
    }

.title {

    font-size: 2rem;
    margin-bottom: 3rem;
    margin-top: 0.1rem;
}

.clearBtnContainer {

    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


}


@media (min-width: 1024px) {

    .createMealPage {

        padding: 3rem 2rem;
    }

 .title {

    font-size: 2.5rem;
    margin-top: 0.1rem;
    margin-bottom: 3rem;
 }

 .clearBtnContainer {

    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

}